    <ul class="list row bj-white" id="list-1">
        <li class="title">
            <i class="iconfont c-hong">&#xe940;</i>热门推介<label>欢迎访问IT民工的网站！</label>
        </li>
        <div>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-1.jpg"/></a>
				<h3><a href="javascript:;">美丽的向日葵</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-2.jpg"/></a>
				<h3><a href="javascript:;">枫叶山</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-3.jpg"/></a>
				<h3><a href="javascript:;">大峡谷</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-4.jpg"/></a>
				<h3><a href="javascript:;">吊桥</a></h3>
            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-5.jpg"/></a>
				<h3><a href="javascript:;">花朵</a></h3>
            </li>
        </div>
    </ul>