        <div class="right" id="list-right">
            <!-- 关于我 -->
            <div class="thisMe">
                <div class="touPick">
				<img src="/_assets/images/aboutme.jpg" alt="图片走丢了" title="IT民工"></div>
				<ul>
                    <li><b style="font-size:20px;">IT民工</b></li>
                </ul>
				<br>
                <ul>
                    <li><a href="<%= $link.index %>" style="text-decoration:none;" title="主页" class="iconfont">&#xe619;</a></li>
                    <li><a target="_blank" href="mailto:dliangliang@cock.li" title="联系我" style="text-decoration:none;" class="iconfont">&#xe667;</a></li>
                    <li><a href="<%= $link.about %>" style="text-decoration:none;" title="关于我" class="iconfont">&#xe645;</a></li>
                </ul>
            </div>
            <!-- 建站史 -->
            <div class="ku">
                <div class="title">建站史</div>
                <div class="shus">
                    <div class="line"></div>
                    <div class="shus-cont">
                        <a>Joplin</a><br>
                        <a>MarkDown</a><br>
                        <a>Pages Publisher</a><br>
                        <a>GitHub Pages</a><br>
                        <a>Cloudflare Pages</a><br>
                        <a>Vercel Project</a><br>
                        <a href="javascript:;" class="href-all">查看全部</a>
                    </div>
                </div>
            </div>
   
            <!-- 标签云 -->
            <div class="labels" id="labels">
                <div class="title">标签云</div>
                <a>打工狗</a>
                <a>代码奴</a>
                <a>金融嗜好</a>
                <a>X瘾患者</a>
                <a>偶尔撸B</a>
                <a>精分患者</a>
                <a>软肋不少</a>
                <a>喜历史</a>
            </div>
            <!-- 友情链接 -->
            <div class="ku">
                <div class="title">左邻右舍</div>
                <div class="neighbor">
                    <a target="_blank" href="https://www.zhihu.com/people/economicsshare" title="知乎：巴甫洛夫的实验">知乎：巴甫洛夫的实验</a>
                    <a target="_blank" href="https://space.bilibili.com/18059632" title="B站：巴甫洛夫的实验">B站：巴甫洛夫的实验</a>
                    <a target="_blank" href="https://author.baidu.com/home?from=bjh_article&app_id=1790832269223398" title="百家号：巴甫洛夫的实验">百家号：巴甫洛夫的实验</a>                  
                </div>
            </div>
        </div>